:root {
  --tittle-color: #FFFFFF;
  --text-color: #FFFFFF;
  --background-color: #223440;
  --background-color-secondary: #205373;
  --font-size-text: 16px;
  --font-size-title: 24px;
  --font-size-subtitle: 18px;
  --font-size-small: 12px;
  --font-family-text: 'Roboto', sans-serif;
}

